.share {
  border: 1px solid LightGrey;
  padding: 30px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: black;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid black;
  color: black;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  height: 120px;
}

/*new section*/


main {
  display: grid;
  grid-template-columns: 300px 600px;
  grid-template-rows: 500px;
  grid-gap: 20px;
  margin-top: 44px;
  justify-items: center;
  justify-content: center;
}

  p {
  font-family: 'Comfortaa', cursive;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: black;
}


img {
  width: 100%;
  height: auto;
}

.box {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}



.container {
  min-width: 500px;
  margin: auto;
}


